# udev rules for Pixhawk

# Pixhawk Autopilots
# ------------------

# Pixracer (and probably others with PX4 installed)
SUBSYSTEM=="tty", ATTRS{manufacturer}=="3D Robotics", ATTRS{product}=="PX4 FMU*", SYMLINK+="ttyPixhawk"

# Pixracer, Pixhawk 4 (and probably others with ArduPilot installed)
SUBSYSTEM=="tty", ATTRS{manufacturer}=="ArduPilot", ATTRS{product}=="Pix*", SYMLINK+="ttyPixhawk"

# Pixhawk 4 (ArduPilot)
SUBSYSTEM=="tty", ATTRS{manufacturer}=="ArduPilot", ATTRS{product}=="Pixhawk4", SYMLINK+="ttyPixhawk"

# Generic FTDI Adaptors
SUBSYSTEM=="tty", ATTRS{manufacturer}=="FTDI", ATTRS{product}=="TTL232R-3V3", ATTRS{serial}=="FTFMF4KI", SYMLINK+="ttyPixhawk"


# Radios
# ----------
SUBSYSTEM=="tty", ATTRS{manufacturer}=="Silicon Labs", SYMLINK+="ttySiK"
