
# Lapton Webcam
SUBSYSTEM=="video4linux", ATTR{name}=="Integrated_Webcam_HD*", SYMLINK+="vWebcam"

# USB Webcam (Logi)
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="046d", ATTR{index}=="0", ATTRS{idProduct}=="0825", SYMLINK+="vLogi"
