# udev rules for SubT Hardware

# Powerboard
SUBSYSTEM=="tty", ATTRS{manufacturer}=="Jet Propulsion Laboratory", ATTRS{product}=="SubT Gen4 Power Board", SYMLINK+="ttyPowerBoard"

# CommDropper
SUBSYSTEM=="usb", ATTRS{manufacturer}=="SubT", ATTRS{product}="commDropper", SYMLINK+="ttyCommDropper"

# CO2 Sensor
SUBSYSTEM=="tty", ATTRS{manufacturer}=="Jet Propulsion Laboratory", ATTRS{product}=="SubT CO2 Module", SYMLINK+="ttyCO2"