# Vector Nav
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="FTZ6UWYU", SYMLINK+="ttyVN100"

# ADK
SUBSYSTEM=="tty", ATTRS{idVendor}=="09cb", ATTRS{idProduct}=="4007", SYMLINK+="ttyBoson"
SUBSYSTEM=="video4linux", ATTR{name}=="Boson*", ATTR{index}=="0", SYMLINK+="vBoson"
